* {
	margin: 0;
	padding: 0;
}


/*body {
	background-color: rgb(65,66,63);
}*/
.aaaaa {
	 
	width: calc(50% - 2px);
	margin-top: 24px;
	/*border: 1px solid red;*/
}

.bbbbb {
	float: left;
	width: calc(50% - 2px);
	/*margin-top: 23px;*/
	/*border: 1px solid red;*/
}


#a {
	position:absolute;
	top: 23px;
    left:25px;
	background-color: white;
	/*text-align: right;*/
	font-family:arial,sans-serif;
	font-size: 13px;
	opacity: 0.75;
}

#a a {
	text-decoration: none;
	color:black;
}

#a a:hover {
	color: black;
	text-decoration: underline;/*碰到變顏色*/
}

#b {
	position:absolute;
	top: 23px;
    left:140px;
	background-color: white;
	/*text-align: right;*/
	font-family: arial,sans-serif;
	font-size: 13px;
	opacity: 0.75;
}

#b a {
	text-decoration: none;
	color:black;
}

#b a:hover {
	color: black;
	text-decoration: underline;/*碰到變顏色*/
}

#c {
	position:absolute;
	top: 25px;
    left:1318.5px;
	background-color: white;
	font-family: arial,sans-serif;
	font-size: 12.5px;
	color: rgb(0,0,0,0.87);
	letter-spacing: 0.3px;
}

#c a {
	text-decoration: none;
	color:black;
}

#c a:hover {
	color: #696969;
	text-decoration: underline;/*碰到變顏色*/
}


#d {
	position:absolute;
	top: 24px;
    left:1367px;
	color: black;
	background-color: white;
	font-family: arial,sans-serif;
	font-size: 13px;
}

#d a {
	text-decoration: none;
	color:black;
}

#d a:hover {
	color: black;
	text-decoration: underline;/*碰到變顏色*/
}

#e {
	position:absolute;
	top: 15px;
    left:1407.5px;
	/*border: 1px dashed red;*/
	height: 38.5px;
	width: 38.5px
} 

#e img{
	width: 54%;
	/*border: 1px dashed red;*/
	margin-left: 5px;
	margin-top: 5px;
}

#f{
	position:absolute;
	top: 16px;
    left:1452.5px;
    font-family: arial,sans-serif;
	font-size: 13px;
	font-weight: bold;
	background-color: #4285f4;
	border-radius: 5%;
	border-top:7.25px solid #4285f4;
	border-bottom: 7.25px solid #4285f4;
	border-left: 13px solid #4285f4;
	border-right: 13.5px solid #4285f4;
}

#f a {
	text-decoration: none;
	color:white;
	cursor:default;
}

#f a:hover {
	color: white;
	/*text-decoration: underline;*//*碰到變顏色*/
}

/*#g {
	position:absolute;
	top: 20px;
    left:1450px;
	border: 1px dashed red;
	margin-left: 13px;
	height: 30px;
	width: 30px
} 

#g img{
	width: 90%;
	border-radius: 50%;
	border: 1px dashed red;
}*/

#h{
	position:absolute;
	top: 144px;
    left:616.5px;
    /*border: 1px dashed red;*/
}
#h img{
	/*border: 1px dashed red;*/
	margin-left: 5px;
	margin-top: 5px;
	height: 104px;
	width: 299.2px;
}

#i{
	/*border: 1px dashed red;*/
	position:absolute;
	top: 262px;
    left:466px;
}

#i img{
	/*border: 1px dashed red;*/
	margin-left: 5px;
	margin-top: 5px;
	height: 65px;
	width: 601.25px;
}

#j {
	/*border:1px solid #e4e4e4;*/
	background-color: none;
	border-radius:25px;
	position:absolute;
	top:275px;
    left:476px;
    height: 43px;
    width: 582px;
}

.j1 {
	border-radius:25px;
	border:1px solid #e4e4e4;
	/*border: none; */
	outline: none;
	font-size: 15px;
	padding-left: 45px;
	height: 44px;
	width: 537px;
}

#jj{
	margin-top: -34px;
	margin-left: 13px;
	/*border:1px solid red;*/
	width: 28px;
	height: 28px;
}

#jj img{
	height: 20.75px;
	width: 23px;
}

#jjj{
	margin-top: -30.5px;
	margin-left: 543.5px;
	border:1px solid red;
	width: 28px;
	height: 28px;
}

#jjj img{
	height: 26.5px;
	/*width: 10px;*/
}

#k{
	position:absolute;
	top: 351px;
    left:660.5px;
    font-family: arial,sans-serif;
    color: #5F6368;
    font-size: 14px;
	background-color: #f2f2f2;
	border-radius: 7.5%;
	padding-top:9.5px;
	padding-bottom: 9.5px;
	padding-left: 17.5px;
	padding-right: 17px;
}

#k a {
	text-decoration: none;
	color: #5F6368;
}

#k a:hover {
    font-family: arial,sans-serif;
	color: black;/*碰到變顏色*/
	border-radius: 7%;
	border:1px solid #CFCFCF;
	padding-top:8.5px;
	padding-bottom: 8.5px;
	padding-left: 16.5px;
	padding-right: 16px;
	margin-left: -17.5px;
	margin-right: -17px;
}


#l{
	position:absolute;
	top: 351px;
    left:785px;
    font-family: arial,sans-serif;
    color: #5F6368;
    font-size: 14px;
	background-color: #f2f2f2;
	border-radius: 7.5%;
	padding-top:9.5px;
	padding-bottom: 10px;
	padding-left: 16.5px;
	padding-right: 17px;
}

#l a {
	text-decoration: none;
	color: #5F6368;

}

#l a:hover {
	color: black;/*碰到變顏色*/
	border-radius: 7.5%;
	border:1px solid #CFCFCF;
	padding-top:8.5px;
	padding-bottom:9px;
	padding-left: 15.5px;
	padding-right: 16px;
	margin-left: -16.5px;
	margin-right: -17px;
}

#m{
	position:absolute;
	top: 640.5px;
	padding-left: 30px;
    font-family: arial,sans-serif;
    color: rgba(0,0,0,.54);
    font-size: 15px;
    background-color: #f2f2f2;
    line-height: 40.5px;
    min-width:1506px;
    border-top: 1px solid #e4e4e4;
}

#n{
	position:absolute;
	top: 681.5px;
	padding-top: 1px;
	padding-left: 30px;
    font-family: arial,sans-serif;
    color: #5f6368;
    font-size: 13px;
    background-color: #f2f2f2;
    line-height: 39px;
    min-width:1506px;
    border-top: 1px solid #e4e4e4;
}

#n a {
	text-decoration: none;
	color:#5f6368;
}

#n a:hover {
	color: #5f6368;
	text-decoration: underline;/*碰到變顏色*/
}

#n a:active{
	color: red;/*長按變顏色*/
}

#o{
	/*border: 1px dashed red;*/
	position:absolute;
	top: 695px;
	left: 82px;
    font-family: arial,sans-serif;
    color: #5f6368;
    font-size: 13px;
    background-color: #f2f2f2;
}

#o a {
	text-decoration: none;
	color:#5f6368;
}

#o a:hover {
	color: #5f6368;
	text-decoration: underline;/*碰到變顏色*/
}

#o a:active{
	color: red;/*長按變顏色*/
}

#p{
	/*border: 1px dashed red;*/
	position:absolute;
	top: 695px;
	left: 135px;
    font-family: arial,sans-serif;
    color: #5f6368;
    font-size: 13px;
    background-color: #f2f2f2;
}

#p a {
	text-decoration: none;
	color:#5f6368;
}

#p a:hover {
	color: #5f6368;
	text-decoration: underline;/*碰到變顏色*/
}

#p a:active{
	color: red;/*長按變顏色*/
}

#q{
	position:absolute;
	top: 695px;
	left: 1337px;
    font-family: arial,sans-serif;
    color: #5f6368;
    font-size: 13px;
    background-color: #f2f2f2;
}

#q a {
	text-decoration: none;
	color:#5f6368;
}

#q a:hover {
	color: #5f6368;
	text-decoration: underline;/*碰到變顏色*/
}

#q a:active{
	color: red;/*長按變顏色*/
}

#r{
	position:absolute;
	top: 695px;
	left: 1402px;
    font-family: arial,sans-serif;
    color: #5f6368;
    font-size: 13px;
    background-color: #f2f2f2;
}

#r a {
	text-decoration: none;
	color:#5f6368;
}

#r a:hover {
	color: #5f6368;
	text-decoration: underline;/*碰到變顏色*/
}

#r a:active{
	color: red;/*長按變顏色*/
}

#s{
	position:absolute;
	top: 695px;
	left: 1481px;
    font-family: arial,sans-serif;
    color: #5f6368;
    font-size: 13px;
    background-color: #f2f2f2;
}

/*#a a:active{
	color: yellow;長按變顏色
}
*/
#aaa {
	border: 3px solid blue;
	float: left;此欄靠左
	width: calc(50% - 6px);
	color: red;
	background-color: white;
	text-align: right;欄位中字靠右
	font-family: 標楷體;
	border-radius:50%; 
}

#bbb {
	border: 3px dashed green;
	width: calc(50% - 6px);
	float: right;
	margin-top: 975.6px;
}

